<!DOCTYPE html>
<html lang="en">
<head>
    <title>Invalid username or password</title>
<!--    <div th:insert="~{fragments/bootstrap::bootstrap}"></div>-->
</head>
<style>
    div {
        margin-top: 7%;
    }
</style>
<body>
<br><br>
<div class="mx-auto" style="width: 900px" align="center">
    <h1 style="color: #c6001b">Invalid username or password</h1>
    <h3><b><a href="/authentication" style="color: #2423c6">Try again</a> or <a href="/register" style="color: #2423c6">Register now</a></b></h3>
</div>
</body>
<br><br><br><br><br><br><br><br><br><br><br><br>
<!--<div th:insert="~{fragments/footer::footer}"></div>-->
</html>