<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
    <title>Taco Cloud</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/login-page.css}">
    <script src="/scripts/login-page.js"></script>
</head>
<body>
<div class="container draggable my-4" id="draggableLoginForm">
<h3 class="header-text">Authenticate</h3>
<div sec:authorize="isAnonymous()">
<form th:method="POST" th:action="@{/authentication/submit}">
    <label for="username"></label><br>
    <input type="text" name="username" id="username" placeholder="username"/><br/>
    <label for="password"></label><br>
    <input type="password" name="password" id="password" placeholder="password"/><br/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/><br>
<button class="button">Log In</button>
    <a th:href="@{/register}">
    <button class="button-register">Register</button>
</a>
</form>
</div>
</div>
</body>
</html>